files:
  "/tmp/ssl_setup.sh":
    mode: "000700"
    owner: root
    group: root
    content: |
      #!/bin/bash
      mkdir -p /etc/pki/tls/certs /etc/pki/tls/private
      echo "$SSL_CERTIFICATE" > /etc/pki/tls/certs/server.crt
      echo "$SSL_PRIVATE_KEY" > /etc/pki/tls/private/server.key
      chmod 600 /etc/pki/tls/private/server.key

container_commands:
  01_ssl_setup:
    command: "/tmp/ssl_setup.sh"

option_settings:
  aws:elasticbeanstalk:application:environment:
    DOMAIN_NAME: ${DOMAIN_NAME}
    SSL_CERTIFICATE: ${SSL_CERTIFICATE}
    SSL_PRIVATE_KEY: ${SSL_PRIVATE_KEY}