option_settings:
  # VPC Configuration
  aws:ec2:vpc:
    VPCId: vpc-080b3b2013d730253
    Subnets: subnet-0345499473ca6aadd  # Using us-east-1a subnet
    AssociatePublicIpAddress: true

  # Security Groups Configuration
  aws:autoscaling:launchconfiguration:
    SecurityGroups: ec2-rds-1,rds-ec2-1  # Using the existing security groups